<div class="hero">
  <div class="hero__Text">
    <h1 class="hero__Intro"><span class="span">Conversational </span>{{ heading }} <br>{{ message }}</h1>
    <p class="hero__Subtitle">{{ subtitle }}</p>
  </div>

  <div class="label">
    <input  type="text" [placeholder]="placeholder">
    <button type="submit">{{ signUp }}</button>
  </div>

  <div class="catch">
    <fa-icon [icon]="faCheck" style="color: var(--blue);"></fa-icon><p>{{ pro1 }}</p>
    <fa-icon [icon]="faCheck" style="color: var(--blue);"></fa-icon><p>{{ pro2 }}</p>
  </div>

</div>
