<div class="navbar__Container">
  <nav class="navbar">
    <div class="nav__Logo"><a href="" style="text-decoration: none; color: white;">AiChat</a></div>
    <div class="nav__List">
      <li class="nav__Items"><a class="nav__Links" href="">Home</a></li>
      <li class="nav__Items"><a class="nav__Links" href="">Platform</a></li>
      <li class="nav__Items"><a class="nav__Links" href="">Customers</a></li>
      <li class="nav__Items"><a class="nav__Links" href="">Pricing</a></li>
    </div>

    <div class="nav__Right">
      <li class="nav__Items"><a class="nav__Links" href="">Log In</a></li>
      <button class="nav__Btn">Create Account</button>
    </div>
  </nav>
</div>
